*{
	padding:0px;
	margin:0px;
}
body{
font-size:12px;
font-family:"ו";
background-color:#000000;
}
.body1{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
}
.body2{
font-size:12px;
font-family:"ו";
color:#FFFFFF;
}
#flash{
margin-left:auto;
margin-right:auto;
margin-top:80px;
width:600px;
height:324px;}
#wz{
margin-left:auto;
margin-right:auto;
margin-top:3px;
width:600px;
height:40px;
}
#zi{
margin-left:auto;
margin-right:auto;
width:600px;
height:120px;
}
#jinru{
margin-left:auto;
margin-right:auto;
width:180px;
height:25px;
}
#wz1{
margin-left:auto;
margin-right:auto;
margin-top:15px;
width:600px;
height:40px;
}